
.about {
    position: relative;
    overflow: hidden;
    // position: absolute;
    // bottom: 0px;
    // background: radial-gradient(circle, rgba(51,47,101,1) 43%, rgba(0,0,0,1) 81%);
    z-index: 1;

}
.about-wrapper{
    width: 230px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 36px;
    padding-bottom: 36px;
    
    .about-bonus, .about-man{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .about-man {
        margin-top: 22px;
    }
    .about-bonus-description, .about-man-description{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        max-width: 162px;
    }
    .description-header{
        font-weight: 700;
    }

}