.logo {
    height: 32px;
    width: 101px;
}
.logo-desctop {
    height: 56px;
    width: 182px;
}
.icon-cal{
    height: 12px;
    width: 12px;
    margin-right: 3px;
}
.icon-clock{
    height: 12px;
    width: 11px;
    margin-right: 3px;
}
.description-icon{
    width: 14px;
    height: 14px;
}
.icon-bonus{
    width: 45px;
    height: 45px;
}
.icon-man{
    width: 46px;
    height: 43px;
}
.technology{
    position: absolute;
    top: -245px;
    left: 960px;
    width: 200px;
    height: 384px;
}
.ringle {
    position: absolute;
    top: -700px;
    left: 640px;
    transform: rotate(270deg);
    width: 790px;
    height: 793px;
}
// .ringle2 {
//     position: absolute;
//     bottom: 100px;
//     left: -250px;
//     transform: rotate(45deg);
//     width: 790px;
//     height: 793px;
//     z-index: -1;
// }