.logo {
    height: 32px;
    width: 101px;
}
.icon-cal{
    height: 12px;
    width: 12px;
    margin-right: 3px;
}
.icon-clock{
    height: 12px;
    width: 11px;
    margin-right: 3px;
}
.description-icon{
    width: 14px;
    height: 14px;
}