.footer {
    width: 100vw;
    div{
        font-size: 129px;
font-weight: 800;
line-height: 158.46px;
text-align: center;
color: transparent;
-webkit-text-stroke-color: #FFFFFF;
opacity: 5%;
-webkit-text-stroke-width: 1px;
margin-bottom: -50px; 
    }

}
@media screen and (max-width: 1439px){
    .footer{
        display: none;
    }
}