.send-form{
    background-color: #303A53;
    padding: 41px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 328px;
    border-radius: 9px;
    .send-form-header{
        text-align: center;
        font-size: 20px;
        p {
            display: inline;
            color: #FF3459;

        }
        .get-gift{
            display: block;
        }
    }
    .form{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 286px;
        min-width: 286px;
    }
    .input {
        padding: 12px 0px 12px 13px;
        border-radius: 5px;
        background-color: #272D3D;
        outline: 0;
        color: #ffffff;
        border: none;
        font-size: 12px;
    }
    ::placeholder {
        color: #ffffff;
        padding: 13px;
        font-size: 12px;

    }
    .submit {
        padding: 12px 34px;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 5px;
        background-color: #0048FF;
        border: none;
        color: #ffffff;
        font-size: 14px;

    }
    .politica{
font-size: 11px;
font-weight: 500;
line-height: 16.39px;
text-align: center;
margin-top: 18px;
color: gray;
p {
    border-bottom: 1px solid gray;
}
    }
}