.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 16px 0px 30px;
    font-size: 11px;
    .date-time{
        display: flex;
        margin-top: 5px;
        .header-date{
            display: flex;
            background-color: #302E5A;
            color: #FFFFFF;
            border-radius: 6px;
            padding: 7px; 
            min-width: 88px;
            height: 24px;
        }
        .header-time{
            display: flex;
            background-color: #302E5A;
            color: #FFFFFF;
            border-radius: 6px;
            margin-left: 6px;
            padding: 6px;
            padding-left: 13px;
            min-width: 88px;
            height: 24px;
        }
    }
}
.logo-desctop{
    display: none;
}

@media screen and (min-width: 1040px) {
    .header {
        padding: 32px 56px;
        width: 1040px;
        margin: 0 auto;
        .date-time {
            margin-top: 10px;
             margin-right: 20px;
            .header-date, .header-time{
                padding: 13px 23px;
                height: 40px;
                font-size: 14px;
                border-radius: 10px;
                align-items: center;
                min-width: 141px;
                margin-right: -15px;
            }
            .header-time{
                margin-left: 25px;
            }
        }        
    }
    .logo {
        display: none;
    }
    .logo-desctop{
        display: block;
    }
    
  }