.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 16px 0px 30px;
    font-size: 11px;
    .date-time{
        display: flex;
        margin-top: 5px;
        .header-date{
            display: flex;
            background-color: #302E5A;
            color: #FFFFFF;
            border-radius: 6px;
            padding: 7px;
            min-width: 88px;
            height: 24px;
        }
        .header-time{
            display: flex;
            background-color: #302E5A;
            color: #FFFFFF;
            border-radius: 6px;
            margin-left: 6px;
            padding: 6px;
            padding-left: 13px;
            min-width: 88px;
            height: 24px;
        }
    }
}

@media screen and (min-width: 1040px) {
    .header {
        padding: 24px 56px;
    }
  }