<div class="about about-desctop">
    <div class="about-wrapper">
        <div class="about-bonus">
            <div class="icon-bonus --svg__bonus"></div>
            <div class="about-bonus-description">
                <span class="description-header">Бонус за регистрацию</span>
                <p>PDF-файл "5 преимуществ профессии веб-дизайнера" </p>
            </div>
        </div>
        <div class="about-man">
            <div class="icon-bonus --svg__bonus"></div>

            <!-- <div class="icon-man --svg__man"></div> -->
            <div class="about-man-description">
                <span class="description-header">Кирилл <span>КАСАТОНОВ</span></span>

                <p>6 лет коммерческого опыта с такими компаниями как Mercedes-Benz и другими крупными корпорациями</p>
            </div>
        </div>
    </div>
    <div class="technology --svg__technology"></div>
</div>