<section class="description">
    <div class="description-head">
        <div class="description-icon --svg__world"></div>
        <span>Вебинар</span>
    </div>
    <div class="description-main">
        <h1>FRONT-END</h1>
        <div class="light-start">
            <div class="from-null">
                <div>с нуля</div>
                <span>легкий старт в IT профессии</span>
            </div>
            <div class="description-text">
                <span>Узнайте какими навыками </span>
                <p>должен обладать фронтенд разработчик в 2022 году</p>
                <span> и как
                    начать карьеру в
                    востребованной профессии</span>
            </div>
        </div>
    </div>
</section>