<div class="send-form">
    <div class="send-form-header">
        <span>Запишитесь </span>
        <p>бесплатно</p>
        <span class="get-gift">и получите подарок</span>
    </div>
    <form class="form">
        <input class="input user-name" name="name" type="text" placeholder="Ваше имя и фамилия" />
        <input class="input user-phone" name="phone" type="phone" placeholder="Ваш номер телефона" />
        <input class="input user-email" name="email" type="text" placeholder="Ваш email" />
        <input type="button" class="submit" onclick="formValidate()" type="submit" value="Записаться бесплатно">
    </form>
    <span class="politica">Нажимая на кнопку я согашаюсь
        <p>с политикой конфидециальности</p>

    </span>
</div>