<div class="send-form">
    <div class="send-form-header">
        <span>Запишитесь </span>
        <p>бесплатно</p>
        <span class="get-gift">и получите подарок</span>
    </div>
    <form class="form">
        <input class="input" type="text" placeholder="Ваше имя и фамилия" />
        <input class="input" type="phone" placeholder="Ваш номер телефона" />
        <input class="input" type="text" placeholder="Ваш email" />
        <input class="submit" type="submit" value="Записаться бесплатно">
    </form>
    <span class="politica">Нажимая на кнопку я согашаюсь
        <p>с политикой конфидециальности</p>

    </span>
</div>